{% extends 'base.html.twig' %}
{% block title %}Episode{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title}}</h1>
            <p>Categorie : {{ program.category.name }}</p>
            <h2>Saison {{ season.id }}:</h2>
            <h3>- Episode {{ episode.number }} : {{ episode.title }}</h3>
            <p>{{ episode.synopsis }}</p>
            <a href="{{ path('episode', {'id': episode.id}) }}" class="btn btn-light">Liste des épisodes saison {{ season.id }} </a>

        </div>
    </div>


    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
