{% extends 'base.html.twig' %}
{% block title %}Season{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }} saison {{ season.id }}</h1>
            <a href="{{ path('season') }}">Saison 1</a>
            <p>Categorie : {{ program.category.name }}</p>
            <p>Synopsis : {{ season.description }}</p>
            <p>Liste des épisodes : </p>
        </div>
    </div>

    {% for episode in episodes %}
        <h5>Episode {{ episode.number }} :{{ episode.title }}</h5>
        <p>{{ episode.synopsis }}</p>
    {% else %}
        No episode yet for this program !
    {% endfor %}


    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
